#root {
  height:inherit;
}
.App {
  height:inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  font-family: 'Noto Serif', serif;
}
